.card_container {
  overflow: hidden;
  height: 290px;
  /* padding: 1em; */
  /* border: 2px solid dodgerblue; */
}

.card_img {
  width: 100%;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.card_img:hover > img {
  transform: scale(1.1);
}

.card_img:hover::after {
  filter: blur(-1px);
  /* background-color: hsl(var(--clr-dark) / 0.3); */
  content: "\2192";
  clip-path: circle(140.7% at 0 99%);
}
.card_img::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  color: white;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  right: 0;
  background-color: hsl(var(--clr-dark) / 0.5);
  clip-path: circle(0.7% at 0 100%);
  transition: clip-path 700ms ease-in;
  /* background-color: rgba(224, 117, 117, 0.089); */
  /* background-color: hsl(var(--clr-dark));  */
}

.card_img > img {
  object-fit: cover;
  object-position: center;
  height: 230px;
  transition: transform 1s ease;
}

.card_container > span {
  font-size: 0.8em;
  margin-top: 10px;
  font-weight: 500;
  margin-bottom: -5px;
}
