.card_container {
  overflow: hidden;
  height: 290px;
  border: 1px solid #a9a9a98c;
  box-shadow: 0px 0px 8px 1px #a9a9a98c;
  padding: 0.5em;
  /* padding: 1em; */
  /* border: 2px solid dodgerblue; */
}

.card_play > img {
  width: 6em;
  height: 6em;
}

.card_play {
  /* transition: opacity 1s ease-out;
  opacity: 0;
  height: 0;
  overflow: hidden; */
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  color: white;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  right: 0;
  background-color: hsl(var(--clr-dark) / 0.5);
  clip-path: circle(0.7% at 0 100%);
  transition: clip-path 700ms ease-in;
  z-index: 20;
}

.card_img {
  width: 100%;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  z-index: 10;
}

.card_img > img {
  transition: transform 2s ease, filter 3s ease-in-out;
}

.card_img:hover > .card_play {
  opacity: 1;
  height: auto;
}

.card_img:hover > img {
  transform: scale(1.5) rotate(20deg);
  /* filter: blur(3px); */
}

.card_img:hover .card_play {
  filter: blur(-1px);
  background-color: hsl(var(--clr-dark) / 0.3);
  content: "\2192";
  clip-path: circle(140.7% at 0 99%);
}
/* .card_img::before {
  content: "";
  position: absolute;
  font-size: 3em;
  top: 0;
  left: 0;
  bottom: 0;
  color: white;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  right: 0;
  background-color: hsl(var(--clr-dark) / 0.5);
  clip-path: circle(0.7% at 0 100%);
  transition: clip-path 700ms ease-in;
  z-index: 5;
  /* background-color: rgba(224, 117, 117, 0.089); */
/* background-color: hsl(var(--clr-dark));  
} */

.card_img > img {
  object-fit: cover;
  object-position: center;
  height: 230px;
  transition: transform 1s ease;
}

.card_container > span {
  font-size: 0.8em;
  margin-top: 10px;
  font-weight: 500;
  margin-bottom: -5px;
}

.anime_link {
  transition: color 150ms ease;
  font-weight: bold;
}

.anime_link:hover {
  color: hsl(var(--clr-dark) / 0.8);
}
