:root {
  /* --- Colors --- */

  --clr-accent: 74 84% 71%;
  --clr-dark: 223 34% 34%;
  --clr-ligth: 186 56% 55%;
  --clr-white: 191 0% 100%;
  --clr-green: 135 54% 43%;

  /* --- Font-sizes --- */
  --fs-900: 6rem;
  --fs-800: 4.7rem;
  --fs-700: 3rem;
  --fs-600: 2rem;
  --fs-500: 1.75rem;
  --fs-400: 1.125rem;
  --fs-300: 1rem;
  --fs-200: 0.875rem;

  /* --- Font-sizes --- */
  --ff-montserrat: "Montserrat", sans-serif;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  border: 0;
  vertical-align: baseline;
  font-family: "Montserrat", sans-serif;
}

html {
  scroll-behavior: smooth;
}

/*   reset imgs   */
img,
picture,
video,
iframe,
figure {
  max-width: 100%;
  width: 100%;
  display: block;
}

a {
  text-decoration: none;
  display: block;
}

p a {
  display: inline;
}

ul,
li {
  list-style: none;
}

p,
span,
em {
  color: inherit;
  font-style: inherit;
  text-decoration: none;
}

form,
input,
textarea,
select,
button,
label {
  font-family: inherit;
  hyphens: auto;
  display: block;
}

/* 
::selection{

} */

body {
  min-height: 100vh;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  font-size: 100%;
  line-height: 1.4em;
  /* hyphens: auto; */
}

#app {
  min-height: 100vh;
  width: 100vw;
}

/*  Permite ser entendibles para videntes   */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  /* add line*/
  border: 0;
}
