/*---------------------------*/
/*        Nav Component      */
/*---------------------------*/

.navbar {
  top: 0;
  left: 0;
  right: 0;
  z-index: 20;
  position: fixed;
  transition: background-color 800ms ease, padding 500ms ease;
  padding: 10px 0;
  /* border: 2px solid blueviolet; */
}

.navbar-app {
  width: 100%;
  height: 3.1em;
  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
  align-items: center;
  justify-items: center;

  color: hsl(var(--clr-dark));
  /* background-color: hsl(var(--clr-dark)); */
  --gap: 0;
}

.down {
  background-color: white;
  padding: 5px 0;
  color: black;
  /* padding-top: 20px; */
}

.navbar-app > img {
  height: 47px;
  aspect-ratio: 1;
  object-fit: cover;
}

.navbar-app > * {
  width: 100%;
  height: 100%;
  position: relative;
  /* color: white; */
  color: hsl(var(--clr-dark));
  display: flex;
  align-items: center;
  justify-content: center;
  /* transition: background-color 300ms ease-out; */
  transition: 2s;
}

/* .navbar-app a:hover {
  background-color: hsl(var(--clr-accent));

  /* opacity: 0.3; 
  /* background-color: hsl(var(--clr-dark)); 

  color: white;
} */

/* navigation  */
/* .navigation {
  background-color: hsl(var(--clr-dark));
  color: white;
} */
