/*---------------------------*/
/*        Nav Component      */
/*---------------------------*/

.navbar-app {
  width: 100%;
  height: 50px;
  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
  align-items: center;
  justify-items: center;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  position: fixed;
}

.navbar-app > img {
  height: 47px;
  aspect-ratio: 1;
  object-fit: cover;
}

.navbar-app > * {
  width: 100%;
  height: 100%;
  /* color: white; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-app > a:hover {
  /* opacity: 0.3; */
  background-color: hsl(var(--clr-dark));
  color: white;
}

/* navigation  */
.navigation {
  background-color: hsl(var(--clr-dark));
  color: white;
}
