/*---------------------------*/
/*       Home Component      */
/*---------------------------*/

.home_app {
  width: 100%;
  height: inherit;
  padding-inline: 1em;
  padding-top: 2em;
}

.group {
  width: 100%;
}

/*---------------------------*/
/*       Group Component     */
/*---------------------------*/

.group {
  width: 100%;
  position: relative;
  margin: 3em 0;
  overflow-clip-margin: inherit;
  grid-template-columns: repeat(auto-fill, minmax(12em, 1fr));
  --gap: 0.8em;
  padding: 0.5em 1em;
}

.group > a {
  position: absolute;
  top: -2.5em;
  left: -2px;
  padding: 0.5em 0.9em;
  border-radius: 10px 10px 0 0;
}
